body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
article {
	margin: 0px; padding: 0px;
}
aside {
	margin: 0px; padding: 0px;
}
details {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
header {
	margin: 0px; padding: 0px;
}
hgroup {
	margin: 0px; padding: 0px;
}
menu {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
body {
	font: 12px/1.5 Microsoft YaHei, tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.5 Microsoft YaHei, tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 Microsoft YaHei, tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.5 Microsoft YaHei, tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.5 Microsoft YaHei, tahoma, arial, 宋体; font-size-adjust: none; font-stretch: normal;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
th {
	text-align: inherit;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
img {
	vertical-align: bottom;
}
iframe {
	display: block;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: 500;
}
h2 {
	font-size: 100%; font-weight: 500;
}
h3 {
	font-size: 100%; font-weight: 500;
}
h4 {
	font-size: 100%; font-weight: 500;
}
h5 {
	font-size: 100%; font-weight: 500;
}
h6 {
	font-size: 100%; font-weight: 500;
}
i {
	font-style: normal;
}
em {
	font-style: normal;
}
a {
	color: rgb(51, 51, 51);
}
a:hover {
	color: rgb(187, 64, 70); text-decoration: underline;
}
ins {
	text-decoration: none;
}
a {
	text-decoration: none;
}
.clearfix {

}
.clearfix::before {
	height: 0px; overflow: hidden; display: block; visibility: hidden; content: ".";
}
.clearfix::after {
	height: 0px; overflow: hidden; display: block; visibility: hidden; content: ".";
}
.clearfix::after {
	clear: both;
}
.link:hover {
	text-decoration: underline !important;
}
.icon {
	 overflow: hidden; display: inline-block; position: absolute;
}
.hide {
	display: none;
}
.block {
	display: block !important;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tc {
	text-align: center;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.cursor {
	cursor: pointer;
}
.btn {
	background: rgb(88, 164, 237); padding: 4px 18px; border-radius: 2px; color: rgb(255, 255, 255); display: inline-block;
}
.greenBtn {
	background: rgb(88, 164, 237); padding: 4px 18px; border-radius: 2px; color: rgb(255, 255, 255); display: inline-block;
}
.btn:hover {
	background: rgb(61, 150, 236); color: rgb(255, 255, 255); text-decoration: none;
}
.greenBtn {
	background: rgb(77, 190, 90);
}
.greenBtn:hover {
	background: rgb(37, 177, 54); color: rgb(255, 255, 255); text-decoration: none;
}
.gray {
	color: gray;
}
.gray-c {
	color: rgb(204, 204, 204);
}
.gray-3 {
	color: rgb(51, 51, 51);
}
.gray-6 {
	color: rgb(102, 102, 102);
}
.gray-9 {
	color: rgb(153, 153, 153) !important;
}
.red {
	color: rgb(255, 0, 0);
}
.blue {
	color: rgb(51, 102, 153) !important;
}
.bgf2 {
	background: rgb(242, 242, 242) !important;
}
.SimSun {
	font-family: "SimSun" !important;
}
.fz12 {
	font-size: 12px !important;
}
.fz14 {
	font-size: 14px !important;
}
.fz16 {
	font-size: 16px !important;
}
.fz18 {
	font-size: 18px !important;
}
.fz20 {
	font-size: 20px !important;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.ml10 {
	margin-left: 10px;
}
.formInfo em.red {
	line-height: 30px;
}
