.main {

	margin: 0px auto; width: 1000px; position: relative;

}

.mainMin {

	margin: 0px auto; width: 1000px; position: relative;

}

.main {

	width: 930px;

}

.mainMin {

	width: 930px;

}

#footer {

	background: rgb(242, 242, 242); padding: 20px 0px; margin-top: 20px;

}

#footer p {

	text-align: center; color: rgb(85, 85, 85); line-height: 24px;

}

#footer p a {

	margin: 0px 4px; color: rgb(85, 85, 85);

}

#footer p a:hover {

	color: rgb(187, 64, 70);

}

.loginHead {

	padding: 20px 0px;

}

.loginMain {

	border-top-color: rgb(240, 240, 240); border-top-width: 1px; border-top-style: solid;

}

.loginBtnBar {

	margin-top: 8px;

}

.loginBtnBar .gray {

	padding: 6px 0px 5px; vertical-align: middle; display: inline-block;

}

.loginBtnBar .btn {

	margin-left: 7px; vertical-align: middle;

}

.registeredStep {

	background: rgb(221, 221, 221); margin: 20px 0px; overflow: hidden;

}

.registeredStep li {

	width: 270px; height: 40px; color: rgb(153, 153, 153); line-height: 40px; padding-left: 30px; font-size: 18px; float: left; position: relative;

}

.registeredStep li.one {



}

.registeredStep li.two {



}

.registeredStep li.two {

	width: 275px; padding-left: 40px;

}

.registeredStep li.three {

	width: 275px; padding-left: 40px;

}

.registeredStep li .icon {

	top: 0px; width: 21px; height: 40px; right: -11px; z-index: 2;

}

.registeredStep li em {

	padding-right: 10px; font-family: tahoma; font-size: 19px;

}

.registeredStep li.active {

	background: rgb(88, 164, 237); color: rgb(255, 255, 255);

}

.registeredInfo {

	background: rgb(255, 255, 255); padding: 20px 40px; border: 1px solid rgb(221, 221, 221); border-image: none;

}

.registeredInfo .t {

	padding: 10px 0px 10px 35px; color: rgb(153, 153, 153); font-size: 18px; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: solid; position: relative;

}

.registeredInfo .t .icon {

	background-position: -29px -11px; left: 1px; top: 13px; width: 20px; height: 19px;

}

.registeredInfo .t .icon2 {

	background-position: -55px -11px; top: 14px; width: 24px;

}

.registeredInfo .t .icon3 {

	background-position: -83px -11px; top: 14px; width: 23px;

}

.formInfo {

	padding: 40px 0px 40px 80px;

}

.formInfo dl {

	padding-left: 80px; margin-bottom: 20px; position: relative;

}

.formInfo dt {

	width: 100px; height: 34px; text-align: right; line-height: 34px; font-size: 14px; margin-left: -100px; vertical-align: middle; float: left; display: inline-block;

}

.formInfo dd .text {

	padding: 7px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 300px; height: 18px; line-height: 18px; float: left;

}

.formInfo dd label.error {

	padding: 7px 10px; height: 20px; color: red; line-height: 20px; font-size: 12px; float: left;

}

.formInfo dd span.error {

	padding: 7px 10px; height: 20px; color: red; line-height: 20px; font-size: 12px; float: left;

}

.formInfo dd a {

	margin: 7px 10px; height: 20px; color: rgb(51, 102, 153); line-height: 20px; float: left; display: inline-block;

}

.formInfo .verification .text {

	width: 60px !important;

}

.formInfo input.submit {

	padding: 0px; border: currentColor; border-image: none; width: 322px; height: 40px; line-height: 40px; font-size: 18px; margin-top: 10px; display: inline-block; cursor: pointer;

}

.formInfo .emaliSend {

	padding-left: 140px; position: relative;

}

.formInfo .emaliSend .icon {

	background-position: -138px -1px; left: 65px; top: 8px; width: 43px; height: 40px;

}

.formInfo .emaliSend p {

	line-height: 34px;

}

.formInfo .emaliSend .greenBtn {

	padding: 10px 15px; font-size: 18px; margin-top: 30px;

}

.formInfo .success .m {

	font-size: 30px;

}

.formInfo .errorBar {

	background: rgb(254, 252, 243); border: 1px solid rgb(222, 146, 125); border-image: none; width: 310px; height: 28px; line-height: 28px; padding-left: 40px; position: relative;

}

.formInfo .errorBar .icon {

	background-position: -111px -12px; left: 12px; top: 5px; width: 18px; height: 18px;

}

.formInfo input.checkbox {

	top: 2px; margin-right: 5px; position: relative;

}

.formInfo .provision a {

	margin: 0px 0px 0px 10px; padding: 0px; height: 18px; line-height: 18px;

}

.formInfo .provision label.error {

	margin: 0px 0px 0px 10px; padding: 0px; height: 18px; line-height: 18px;

}

.userLogin {

	background: url("loginBg.jpg") no-repeat left rgb(255, 255, 255);background-size:520px 460px; padding: 25px 0px 30px; border: 1px solid rgb(221, 221, 221); border-image: none; margin-top: 40px;

}

.userInfoLogin {

	margin: 0px 0px 0px 530px;

}

.userInfoLogin .formInfo {

	padding: 0px; width: 352px;

}

.userInfoLogin .formInfo dl {

	margin: 15px 0px 0px; padding: 0px;

}

.userInfoLogin .formInfo dd .text {

	padding: 7px 30px 7px 10px; width: 175px;

}

.userInfoLogin .user .icon {

	left: 325px; top: 7px; width: 16px; height: 18px;

}

.userInfoLogin .password .icon {

	left: 325px; top: 7px; width: 16px; height: 18px;

}

.userInfoLogin .user .icon {

	background-position: -29px -33px;

}

.userInfoLogin .password .icon {

	background-position: -51px -33px;

}

.userInfoLogin .formInfo input.submit {

	margin: 0px; padding: 0px; width: 352px; font-size: 16px;

}

.tip-yellow {

	padding: 7px; border: 1px solid rgb(147, 147, 147); border-image: none; text-align: left; color: rgb(140, 57, 1); z-index: 1000; min-width: 50px; max-width: 530px; background-image: url("../images/tip-yellow.png"); background-color: rgb(254, 249, 217);

}

.tip-yellow .tip-inner {

	padding: 0px 3px 1px; margin-top: -2px;

}

.tip-yellow .tip-arrow-bottom {

	background: url("../images/tip-yellow_arrows.png") no-repeat -32px 0px; left: 0px; top: 100%; width: 16px; height: 13px; margin-top: -6px; margin-left: 15px; _top: 115%;

}

.reg-from {

	width: 530px; float: left;

}

.login-three {

	padding: 0px 50px 50px; width: 200px; height: 150px; text-align: center; margin-top: 40px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: right;

}

.login-three h3 {

	text-align: left; color: rgb(85, 85, 85); font-size: 14px;

}

.login-three a {

	margin: 20px auto 0px; border-radius: 4px; width: 100%; height: 40px; color: rgb(255, 255, 255); line-height: 40px; float: left;

}

.login-three a i {

	background: url("threeico.png") no-repeat; width: 45px; height: 100%; float: left;

}

.login-three .weixin i {

	border-right-color: rgb(152, 219, 136); border-right-width: 1px; border-right-style: solid;

}

.login-three .sina i {

	background-position: 10px 8px; border-right-color: rgb(237, 130, 115); border-right-width: 1px; border-right-style: solid;

}

.login-three .qq i {

	background-position: -35px 8px; border-right-color: rgb(107, 175, 233); border-right-width: 1px; border-right-style: solid;

}

.login-three .weixin i {

	background-position: -88px 8px;

}

.login-three a span {

	height: 40px; text-align: center; line-height: 40px; font-size: 14px; float: left;

}

.login-three a span {

	padding-left: 28px;

}

.login-three .weixin {

	background-color: rgb(139, 207, 123);

}

.login-three .sina {

	background-color: rgb(227, 111, 95);

}

.login-three .qq {

	background-color: rgb(92, 163, 223);

}

.login-three .weixin span {

	border-left-color: rgb(103, 184, 84); border-left-width: 1px; border-left-style: solid;

}

.login-three .sina span {

	border-left-color: rgb(212, 91, 75); border-left-width: 1px; border-left-style: solid;

}

.login-three .qq span {

	border-left-color: rgb(79, 142, 195); border-left-width: 1px; border-left-style: solid;

}

.login-three-home {

	padding: 30px 0px 20px; width: 355px; text-align: center;

}

.login-three-home h3 {

	background: url("line.jpg") repeat-x left; padding: 10px 0px 20px; width: 355px; height: 14px; text-align: center; color: rgb(102, 102, 102); font-size: 12px;

}

.login-three-home h3 em {

	background: rgb(255, 255, 255); padding: 0px 5px;

}

.login-three-home a {

	border-radius: 2px; width: 104px; height: 36px; color: rgb(255, 255, 255); line-height: 36px; float: left;

}

.login-three-home a i {

	background: url("threeico.png") no-repeat; width: 35px; height: 100%; float: left;

}

.login-three-home .sina i {

	background-position: 5px 5px;

}

.login-three-home .qq i {

	background-position: -40px 5px;

}

.login-three-home .weixin i {

	background-position: -90px 5px;

}

.login-three-home a span {

	height: 36px; text-align: center; line-height: 36px; font-size: 12px; float: left;

}

.login-three-home a span {

	padding-left: 8px;

}

.login-three-home .weixin {

	background-color: rgb(139, 207, 123);

}

.login-three-home .sina {

	background-color: rgb(227, 111, 95);

}

.login-three-home .qq {

	margin: 0px 20px; background-color: rgb(92, 163, 223);

}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}